* {
  margin: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  box-sizing: border-box;
}

html, body{
  max-width: 100svw;
  height: 100%;
  min-height: 100svh;
  display: grid;
  grid-template:  'header'  auto
                  'main'    1fr
                  'footer'  auto
                  / 1fr;
  overflow: hidden;
}

header {
  grid-area: header;
  width: 100%;
  border-bottom: 2px solid lightgray;
  display: flex;
  align-items: baseline;
  justify-content: center;

  >nav {
    >ul {
      width: fit-content;
      height: fit-content;
      display: flex;
      list-style-type: none;

      >li {
        >a {
          width: fit-content;
          height: fit-content;
          margin-left: 16px;
          border: 2px solid gray;
          border-radius: 100vh;
          padding: 2px 16px;
          text-decoration: none;
          color: black;
          font-weight: bold;

          &:visited {
            color: inherit;
          }
        }
      }
    }
  }
}

main {
  grid-area: main;
  padding-top: 16px;
  padding-inline: 64px;
  overflow: scroll;

  >h2, p {
    margin-bottom: 16px;
  }

  >p.message {
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 8px;
  }

  >form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    >input[type="text"] {
      width: 100%;
      margin-bottom: 8px;
      border: 2px solid lightgray;
      border-radius: 100vh;
      padding: 4px 16px;
      font-size: 16px;
    }
    
    >input[type="submit"] {
      width: fit-content;
      border: 2px solid lightgray;
      border-radius: 100vh;
      padding: 4px 16px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        border: 2px solid black;
      }
    }
  }

  >ol {
    margin-bottom: 16px;
    padding: 0;
    list-style: none;

    >li {
      margin-bottom: 16px;
      border: 2px solid lightgray;
      border-radius: 8px;
      padding: 8px;


      >p {
        margin: 0;

        &.poem {
          margin-bottom: 8px;
        }

        &.info {
          font-size: 12px;

          >span.timestamp {
            font-size: 10px;
            color: gray;
          }
        }
      }
    }
  }

  >div.moveto {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    >a {
      width: fit-content;
      height: fit-content;
      margin-bottom: 16px;
      border: 2px solid gray;
      border-radius: 100vh;
      padding: 4px 16px;
      background-color: lightgray;
      text-decoration: none;
      color: black;
  
      &:hover {
        border: 2px solid black;
      }

      &:visited {
        color: inherit
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    >ol {
      >li {
        >p.poem {
          display: flex;
          flex-direction: column;

          >span {
            width: 100%;

            &:nth-child(1) {
              text-align: left;
            }
            &:nth-child(2) {
              text-align: center;
            }
            &:nth-child(3) {
              text-align: right;
            }
          }
        }
        >p.info {
          display: flex;
          gap: 8px;
          justify-content: right;
          align-items: baseline;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  width: 100%;
  height: fit-content;
  border-top: 2px solid lightgray;
  padding: 8px;
  display: flex;
  justify-content: center;

  >span.copyright {
    font-size: 10px;
  }
}