<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %} - shichigo</title>
  </head>
  <body>
    <header>
      <h1>shichigo</h1>
      <nav>
        <ul>
          <li><a href="/compose">詠む</a></li>
          <li><a href="/appreciation">読む</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block main %}
        
      {% endblock %}
    </main>
  </body>
</html>