<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %} - shichigo</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>shichigo</h1>
      <nav>
        <ul>
          <li><a href="/compose">詠む</a></li>
          <li><a href="/appreciation">観る</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block main %}
        
      {% endblock %}
    </main>
    <footer>
      <span class="copyright">© 2023 haruyuki_16278</span>
    </footer>
  </body>
</html>